@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(11, 136, 57);
    font-family: 'Chakra Petch', sans-serif;
}

nav{
    background-color: white;
}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    border-radius: 10 40px 10 10;
}

nav li a:hover{
    background-color: rgb(40, 100, 132);
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px white;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
